.header {
    padding-left: $padding__left;
    padding-right: $padding__right;

    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);

    height: 48px;

}

@media (max-width: 374px) {
    .header {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.header__menu {
    height: 100%;
    display: grid;
    align-content: center;
}

.header__menuitems {

    display: grid;
    // grid-auto-flow: column;
    // justify-items: end;

    padding-left: 0;

    padding-top: 0;
    padding-bottom: 0;



    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr 1fr;
}

@media screen and (min-width:376px) and (max-width:500px) {
    .header__menuitems {
        grid-template-columns: 7fr 1fr 1fr;
    }
}

@media screen and (min-width:501px) {
    .header__menuitems {
        grid-template-columns: 12fr 1fr 1fr;
    }
}

.header__menuitem {
    list-style: none;
    display: grid;
    justify-items: right;
    align-items: center;
}

.header__menuitem_left {
    // justify-self: left;
    // margin-left: 0;
    display: grid;
    justify-items: left;
}

.header__link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.14rem;
    // line-height: 20px;
    color: $color1;

    &:hover {
        color: $color1__hover;
    }

    // &:visited {
    //     color: $color1__visited;
    // }

    &:active {
        color: $color1__active;
        font-size: 1.3rem;
        transition: all 0.7s ease-out;
    }

    img {
        height: 24px;
    }

    img:active {
        color: $color1__active;
        height: 28px;
        transition: all 0.7s ease-out;
    }

}